* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: RobotoRegular;
    src: url(../font/Roboto-Regular.ttf);
}

body {
    width: 100%;
    background-image: url(../img/bgindex.png);
    background-repeat: no-repeat;
    min-width: 450px;
    background-size: cover;
    font-family: RobotoRegular;
    
}
.header{
    width: 100%;
    height: auto;
}
.menu{
     color: aliceblue;
     float: right;
     padding: 10px;
}

a {
    text-decoration: none;
}
.principal{
    width: 100%;
    height: 1000px;
    background-color: black;
    opacity: 0.8;
}

.acess{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.title #one{
    margin-top: 250px;
    display: flex;
    justify-content: center;
    color: #fb4a4b;
    font-size: 50px;
    text-transform: capitalize;
}
.title #two{
    color: white;
    font-size: 40px;
    text-transform: capitalize;
}

.title a{
    color: red;
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 50px;
}
.description p {
    color: white;
    font-size: 15px;
    font-style: oblique;
    text-transform: capitalize;
    margin-bottom: 100px;
}

#btn-acess{
    width: 200px;
    height: 60px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #fb4a4b;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}

#link:hover{
    display: flex;
    z-index: 1 ;
    transform:  scale(1.3);
    transition:  all 2s;
    text-decoration: none;
  }
  .logo_niteo{
      margin-left: 350px;
      margin-bottom: 50px;
  }
 