/* ----------- Geral ---------*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: RobotoRegular;
    src: url(../font/Roboto-Regular.ttf);
}

body {
    width: 100%;
    background-color: rgb(255, 255, 255);
    min-width: 450px;
    font-family: RobotoRegular;
}

#conteiner {
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ------------  cabeçalho ----------- */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    background-color:rgb(83, 83, 83);
    display: flex;
    justify-content: space-between;
    z-index: 3;
    border: 1px solid;
height: 60px;
}

#header_img {
    width: 50px;
    margin: 10px 0 0 20px;
}

#header_sec {
    margin-left: 300px;
}

#header_menu {
    display: flex;
    font-variant: small-caps;
    
}

#header_menu li {
    margin-top: 20px;

}

#header_menu li a {
    color: #fff;
    padding: 10px 15px;
}

#header_menu a:hover {
    color: red;
}

#header_pesquisa {
    background-color: #e7e7e7;
    border: solid 2px #ffffff;
    border-radius: 10px;
    width: 300px;
    height: 32px;
    margin: 5px 10px 0 0;
    position: relative;
    top: 5px;
    right: 10px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
    outline: none;
}

#btnBusca {
    border: none;
    float: right;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: #c61515;
    outline: none;
}
#lupa{
margin-left: 20px;
}

#header_pesquisa img {
    float: left;
    width: 28px;
    height: 27px;
    padding: 2px;
}





/*------------------ Conteúdo ---------*/


#conteudo{
    width: 100%;
    height: 1000px;
    background-color: red;
}

.cover-header{
    width: 100%;
    height: 400px;
    background-color: rgb(184, 184, 184);
}

.conteudo_principal{
width: 100%;
height: 400px;
background-color: blueviolet;
}

.conteudo_cursos{
    background-color: rgb(0, 0, 0);
float: left;
width: 40%;
height: 400px;
}


/*-------------- Rodapé -----------------*/


#footer_alinhamento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer {
    width: 100%;
    height: auto;
    background: #FFF;
    display: flex;
    background-color: rgb(97, 97, 228);
    padding: 10px;
}


#footer_cursos a, #footer_ser a{
    color: white;
}

footer ul li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 2rem;
}

footer ul a{
    color: #000
}

footer h3{
    margin-bottom: 20px;
    margin-left: 40px;

}

#texto_footer {
    position: relative;
    bottom: 20px;
    padding: 20px;
    margin-top: 40px;
    margin-left: 100px;
    line-height: 1.5em;
}

footer #texto_footer img {
    position: relative;
    right: 35px;
    width: 30px;
}

#redes_footer {
    position: relative;
    left:40px;
    bottom: 20px;
    margin-top: 0px;
    margin-left: 80px;
}

footer #redes_footer img {
    width: 25px;
}

#redes_footer figure a {
    margin: 15px 5px;
}

#redes_img {
    margin-bottom: 20px;
}

footer span {
    font-style: italic;
    font-size: 12px;
    margin-left: 20px;
}

#footer_ser,
#footer_cursos {
    margin-top: 50px;
    margin-right: 40px;
}



.section5 {
    position: relative;
    top: 10px;
    left: 50px;
    width: 400px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.section5 h1 {
    color: white;
    margin-left: 20px;
    margin-top: 15px;
}

.assinatura {
    padding: 0 10px;
    font-size: 15px;
    width: 300px;
    height: 30px;
    margin: 30px 5px;
}


.assinatura_email {
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    height: 260px;
}

.section5 h2 {
    width: 300px;
    text-align: center;
    border: 2px solid;
    border-color: #000;
    padding: 10px;
    transition: 400ms;
    margin: 20px auto;
}

.section5 a {
    font-weight: 400;
    font-size: 15px;
    color: rgb(230, 230, 230);
    text-decoration: none;
}

.section5 p a {
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.section5 p {
    margin-left: 50px;
    color: rgb(255, 255, 255);
}

.section5 h2:hover {
    background-color: rgb(121, 0, 143);
}

.checkbox {
    position: relative;
    top: 57px;
    right: 320px;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    
}


.content-container{
 width: 100%;
 height: auto;
   
 margin: 0 auto;
}
.content-header{
    width: 100%;
    height: 200px;
    background-color: aqua;
}
.prod-container{
 width: 100%;
 height: 200px;
 background-color: lightgrey;
 margin-top: 80px; 
 display: flex;
 margin-bottom: 100px;
 margin-top: 100px;
 justify-content: center;
}
.prod-title{
    align-items: flex-start;
    display: flex;
    width: 350px;
    height: 200px;
    flex-flow: wrap;
    justify-content: center;
    align-content: center; 
}
.prod-title-a{
    align-items: flex-start;
    display: flex;
    width: 300px;
    height: 250px;
    flex-flow: wrap;
    justify-content: center;
    align-content: center; 
}

.items{
    margin-top: 50px;
    display: flex;
    width: 270px;
    height: 100px;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
}

#one{
    color: rgb(122, 0, 179); ;
}
#two{
    color: rgb(10, 121, 212);;
}
#three{
    color: rgb(61, 161, 61);;
}

#anim:hover{
    display: flex;
    z-index: 1 ;
    transform:  scale(1.3);
    transition:  all 2s;
    text-decoration: none;
}

