/* ----------- global ---------*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
}

body {
    width: 100%;
    background-image: linear-gradient(rgb(53, 53, 53), rgb(255, 255, 255));
    min-width: 450px;
    font-family: RobotoRegular;
}

#conteiner {
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ------------  cabeçalho ----------- */

header {
    position: relative;
    top: 0;
    width: 100%;
    height: 5px;
    display: flex;
    justify-content: space-between;
    z-index: 3;
}

#header_img {
    width: 50px;
    margin: 5px 0 0 20px;
}

#header_sec {
    margin-left: 10px;
}

#header_sec2 {
    margin-left: 500px;
}

#header_menu {
    display: flex;
    font-variant: small-caps;
    font-family: RobotoRegular;
}

#header_menu li {
    margin-top: 20px;

}

#header_menu li a {
    color: #fff;
    padding: 10px 15px;
}

#header_menu a:hover {
    color: red;
}

#header_pesquisa {
    background-color: #e7e7e7;
    border: solid 2px #ffffff;
    border-radius: 10px;
    width: 300px;
    height: 32px;
    margin: 5px 10px 0 0;
    position: relative;
    top: 5px;
    right: 10px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
    outline: none;
}

#btnBusca {
    border: none;
    float: right;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: #fff;
    outline: none;
}
#lupa-1{
    margin-left: 20px;
}

#header_pesquisa img {
    float: left;
    width: 28px;
    height: 27px;
    padding: 2px;
}

::placeholder {
    color: rgb(250, 67, 67);
}


/*------------------ Conteúdo ---------*/

main {
    padding-top: 50px;
}

#banner {
    width: 100%;
    height: 550px;
    background-color: ivory;
}

#banner img {
    position: relative;
    top: 40px;
    right: 20px;
    width: 700px;
    height: auto;
}

#banner h1 {
    color: rgb(83, 83, 83);
    font-size: 50px;
    margin-top: 100px;
    margin-right: 20px;
    width: 600px;
    float: right;
}

#servicos {
    position: relative;
    display: flex;
    width: 100%;
    height: 50px;
    z-index: 1;
}


@media only screen and (min-width: 1900px) {
    #parceria{
    
    text-align: center;
    position: fixed;
    top:95%;
    width: 100%;
    height: 60px;
    background-color: rgb(195, 195, 195);
    z-index: 2;
    }
  }
#parceria button{
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    width: 160px;
    height: 35px;
    position: absolute;
    top: 14px;
    right: 310px;
    background-color: rgb(241, 207, 13);
    transition: 200ms;
}

#parceria button:hover{
    background-color: rgb(218, 187, 14);
}

#parceria button a{
color: white;

}

.soulcode_fixed{
margin: 20px;
font-size: 20px;
text-align: center;
width: 100%;
}
.soulcode_fixed b{
    color: rgb(177, 36, 11); 
}

.soulcode_fixed span{
    font-weight: 600;
    color: rgb(14, 85, 114); 
    }

#cursos {
    margin-bottom: 100px;
    width: 100%;
    height: 600px;
    background-color: ivory;
}

#cursos img {
    position: relative;
    top: 25px;
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

#cursos h1 {
    color: rgb(102, 102, 102);
    position: relative;
    top: 40px;
    text-align: center;
    width: 400px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.power_platform h2,
.power_bi h2,
.imersao_dax h2,
.sharepoints h2,
.azure h2 {
    margin: 10px 20px;
}

.power_platform {
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
    width: 19%;
    height: 400px;
    background-color: rgb(61, 61, 61);
}

.power_platform h4 {
    margin-top: 20px;
    text-align: center;
    color: white;
    border: 2px solid;
    border-color: rgb(29, 29, 29);
}

.power_platform h3 {
    font-size: 17px;
    padding: 15px 20px;
    text-align: left;
    width: 90%;
    color: rgb(200, 200, 200);
}

.power_bi {
    position: relative;
    margin-right: 10px;
    float: left;
    width: 19%;
    height: 400px;
    background-color: rgb(223, 193, 24);
}

.power_bi h4 {
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 2px solid;
    border-color: rgb(194, 168, 21);
}

.power_bi h3 {
    font-size: 17px;
    padding: 15px;
    text-align: left;
    width: 90%;
    color: rgb(39, 39, 39);
}

.imersao_dax {
    position: relative;
    margin-right: 10px;
    float: left;
    width: 19%;
    height: 400px;
    background-color: rgb(0, 110, 15);
}



.imersao_dax h4 {
    padding: 5px;
    margin-top: 20px;
    color: white;
    text-align: center;
    border: 2px solid;
    border-color: rgb(0, 87, 12);
}

.imersao_dax h3 {
    font-size: 17px;
    padding: 15px;
    text-align: left;
    width: 90%;
    color: rgb(200, 200, 200);
}

.sharepoints {
    position: relative;
    margin-right: 10px;
    float: left;
    width: 19%;
    height: 400px;
    background-color: rgb(0, 92, 116);
}

.sharepoints h4 {
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    color: white;
    border: 2px solid;
    border-color: rgb(1, 68, 85);
}

.sharepoints h3 {
    font-size: 17px;
    padding: 15px;
    text-align: left;
    width: 90%;
    color: rgb(200, 200, 200);
}

.azure {
    position: relative;
    float: left;
    width: 19%;
    height: 400px;
    background-color: rgb(8, 8, 255);
}

.azure h4 {
    padding: 5px;
    margin-top: 20px;
    text-align: center;
    color: white;
    border: 2px solid;
    border-color: rgb(5, 5, 167);
}

.azure h3 {
    font-size: 17px;
    padding: 15px;
    text-align: left;
    width: 230px;
    color: rgb(200, 200, 200);
}

.botao {
    padding: 4px;
    font-size: 20px;
    bottom: 0px;
    margin: 20px 35px;
    position: absolute;
    border: 1px solid;
    transition: 200ms;
}


.botao a {
    color: white;
}


.botao1_hover:hover {
    background-color: rgb(34, 34, 34);
}

.botao2_hover:hover {
    background-color: rgb(202, 175, 19);
}

.botao3_hover:hover {
    background-color: rgb(0, 85, 11);
}

.botao4_hover:hover {
    background-color: rgb(0, 65, 82);
}

.botao5_hover:hover {
    background-color: rgb(7, 7, 182);
}


#header_sec p {
    color: #fff;
}

#valor {
    position: relative;
    bottom: 20px;
    border-radius: 5px;
    float: left;
    width: 49%;
    height: 600px;
    background-color: rgb(238, 237, 237);
}

#valor div {
    border-radius: 5px;
    margin-left: 19px;
    padding: 10px;
    float: left;
    margin-top: 40px;
    background-color: rgb(214, 214, 214);
    width: 150px;
    height: 180px;
    border: 2px solid;
    border-color: rgb(119, 119, 119);
    transition: 200ms;
}

#valor div:hover {
    background-color: rgb(66, 66, 66);
    ;
}

#valor div:hover p,
#valor div:hover h2 {
    color: white;
}



.titulo_propostas_de_valor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    margin-left: 25px;
    font-size: 18px;
}

.titulo_propostas_de_valor h2 {
    text-align: center;
    color: black;
}

#valor div h2 {
    margin-bottom: 10px;
    color: rgb(47, 47, 47);
}

#valor div p {
    color: rgb(110, 110, 110);
    font-size: 14px;
}

#proposta_de_valor {
    display: flex;
    justify-content: center;
    align-items: center;
}


#blog {
    position: relative;
    bottom: 20px;
    height: 600px;
    border-radius: 5px;
    margin: 0 0 50px 0px;
    float: left;
    width: 50%;
    background-color: rgb(238, 237, 237);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#blog h2 {
    margin: 10px 0 10px 0;
    font-size: 15px;
    text-align: center;
}

#blog_itens {
    display: grid;
    grid-template-columns: repeat(2, auto);
    min-height: 150px;
    margin-left: 30px;
}

.blog_texto h2 {
    color: red;
}

.blog_texto {
    width: 260px;
    font-size: 12px;
    margin: 10px;
}

.blog_texto p {
    text-align: justify;
}

.blog_fig {
    height: 150px;
    width: 288px;
    margin: 10px;
  
    background-color: rgb(250, 67, 67);

}





/*-------------- Rodapé -----------------*/

footer {
    width: 100%;
    height: 250px;
    background: #FFF;
    display: grid;
    grid-template-columns: repeat(2, auto);
}


#texto_footer {
    padding: 20px;
    margin-left: 100px;
    line-height: 1.5em;
    font-family: RobotoRegular;
}

footer #texto_footer img {
    width: 30px;
    margin-right: 5px;
}

#redes_footer {
    margin-top: 50px;
}

footer #redes_footer img {
    width: 30px;
    margin-right: 5px;
}

#redes_footer figure a {
    margin: 35px 20px;
}

#redes_img {
    margin-bottom: 20px;
}

footer span {
    font-style: italic;
    font-size: 12px;
    margin-left: 100px;
    
}

#ancora a span {
    color: #000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 30px;
}